<h1>
  Login
</h1>

<% @user.errors.full_messages.each do |type, msg| %>
  <%= content_tag( :div, msg, class: type ) %>
<% end %>

<div class="row">
  
  <%= form_for(:session, url: login_path) do |s| %>

    email: <%= s.email_field :email %> <br>
    password: <%= s.password_field :password %> <br>
    <%= s.submit 'Login', method: :post  %> 

  <% end %>

</div>

